	.login-box {

		background: rgba(0, 0, 0, 0.5);
		color: white;


	}

	.login-box1 {

		background-color: gray;
		color: white;


	}

	
	#boxOrcamento {
		margin-right: 65%;
		padding: 0 0 0 3%;
		border: 1px solid white;
		font-size: 22px;

	}
	#txtValorServico {
		color: green;
		font-size: 20px;
	}

	
	